body {
    background-image: url(../forest.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}
#datos-json-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    color: white;
    font-family: Arial, sans-serif;
}

#datos-json-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#datos-json-container ul {
    list-style-type: none;
    padding: 0;
}

#datos-json-container li {
    margin-bottom: 10px;
}
